<div class="container">
  <div class="card">
    <div class="card-header">
      <p class="display-4 text-center">
        Register Form
      </p>
    </div>
    <div class="card-body">

      <form [formGroup] = "registerForm">
        <!-- Username -->
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="username">Username : </label>
            </div>
            <div class="col-8">
              <input type="text" name="username" class="form-control"
                [formControl] = "username">
            </div>
          </div>
          <div [hidden] = "username.valid || username.untouched">
            <div class="alert alert-danger">
             <!-- <p> * Some problem with username field.</p> -->
             <div [hidden] = "!username.hasError('required')">
               <p> - Username is mandatory field.</p>
             </div>
             <div [hidden] = "!username.hasError('email')">
               <p> - Username field should follow email pattern.</p>
             </div>
          </div>
          </div>
        </div>
        <!-- Password -->
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="password">Password : </label>
            </div>
            <div class="col-8">
              <input type="password" name="password" class="form-control"
              [formControl]="password">
            </div>
          </div>
          <div [hidden]= "password.valid || password.untouched">
            <div [hidden] = "!password.hasError('required')">
              <p class="alert alert-danger">- Password is mandatory field.</p>
            </div>
            <div [hidden] = "!password.hasError('minlength')">
              <p class="alert alert-danger">- Password should contain 6 characters atleast.</p>
            </div>
          </div>
        </div>
        <!-- Buttons -->
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-success btn-block"
               (click) = "onRegister()"
               [disabled]="!registerForm.valid">Register</button>
            </div>
            <div class="col-6">
              <button class="btn btn-warning btn-block"
                (click) = "onReset()">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
