<div class="container">
  <p class="display-4 text-center">Product Component</p>
  <div class="row">
    <div class="col-3 text-center">
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['overview', 3, 'iPhoneXR']">Overview</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['specification']"
            [queryParams] = "{'desc' : 'This is awesome phone', 'name' : 'Samsung Galaxy'}" >Specification</a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
