<!-- {{ users | json }} -->

<h2>Users - Counter : {{ dataService.counter }}</h2>
<button class="btn btn-primary btn-sm" (click)="onDecrease()">Decrease</button>

<ul class="list-group">
  <li class="list-group-item"
  *ngFor="let user of users;index as idx; first as isFirst; last as isLast; even as isEven; odd as isOdd">
    <div class="row">
      <!-- Index : {{ idx }} | isFirst : {{ isFirst}} | isEven : {{ isEven }} -->
      <div class="col-sm-3 col-md-3 text-center">
        <app-user-img [user]="user"
          (childEvent)="onMoreInfo($event)" ></app-user-img>
      </div>
      <div class="col-sm-9 col-md-9">
        <button (click) = "showComp = !showComp">Toggle User Info</button>
        <app-user-info [user]="user" [showComp] = "showComp" >
          <!-- <header>Some Header Info</header>
          <main class="main-content">Some Main contents available1</main>
          <main class="main-content">Some Main contents available2</main>
          <main class="main-content">Some Main contents available3</main>
          <div id="my-id">This is division content</div>
          <footer>Footer Info</footer> -->
        </app-user-info>

      </div>
    </div>
  </li>
</ul>
