<h2>Users Component Template from HTML</h2>

<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3 col-md-3 text-center">
        <app-user-img [user]="user" ></app-user-img>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <p>Date of Birth : <span [innerText]="user.dob"></span></p>
        <p>Income : {{ user.income }}</p>
        <p>Total Votes : {{ user.votes }}
          <input type="number" [value]="user.votes"
            (input)="user.votes = $event.target.value">
          <input type="number" [(ngModel)] = "user.votes">
        </p>
      </div>
    </div>
  </li>
</ul>
